<p style="color: green"><%= notice %></p>
<h1>Congratulations! You just bought your new pass!</h1>

<%= render @order %>

<div>
  <%= link_to "Back to orders", orders_path %>

  <%= button_to "Destroy this order", @order, method: :delete %>
</div>
